<a [routerLink]="['']">
  Dashboard
</a>

<p>room works!</p>
<br>
<a href="http://localhost:4200/room/{{this.userID}}">http://localhost:4200/room/{{this.userID}}</a>
<br>
<video #localStream autoplay style="width: 300px; height: 150px" [muted]=true></video>
<video #remoteStream autoplay playsinline style="width: 600px; height: 300px"></video>
<br>
<button (click)="waitStream()">wait stream</button>
<button (click)="startStream()">start stream</button>
<button (click)="joinStream()">join stream</button>
<button (click)="closeStream()">close stream</button>
<br>
<button (click)="conn()">conn</button>
<button (click)="sendMsg()">send msg to ws</button>
<br>
<button mat-raised-button color="primary" (click)="closeRoom()">close room</button>

