<div class="container">
  <mat-card>
    <mat-card-content #content>
      <div class="message mbXS" #messagesElem *ngFor="let message of messages"
           [ngClass]="{'personalMessage': message.author === this.user.email}">
        <div class="author">{{message.author}}</div>
        <div class="content">{{message.content}}</div>
      </div>
    </mat-card-content>
  </mat-card>
  <form [formGroup]="chatForm" (ngSubmit)="sendMsg()">
    <mat-form-field appearance="outline">
      <mat-label>Чат</mat-label>
      <textarea [formControl]="chatInput" [rows]="4" matNativeControl matInput></textarea>
    </mat-form-field>
    <button mat-raised-button [disabled]="!this.chatInput.valid" color="primary" type="submit">Отправить</button>
  </form>
</div>
