.page {
  padding: 16px;
  height: calc(100vh - 96px);
  overflow: auto;
}

body {
  background: #f5f5f5;
}

.mbS {
  margin-bottom: var(--sizeS);
}

.mbXS {
  margin-bottom: var(--sizeXS);
}

.mrXS {
  margin-right: var(--sizeXS);
}

.pS {
  padding: var(--sizeS);
}

.ptXS {
  padding-top: var(--sizeXS);
}

:root {
  --sizeXS: 8px;
  --sizeS: 16px;
}
