.spacer {
  flex: 1 1 auto;
}

.page {
  padding: 16px;
  height: calc(100vh - 96px);
  overflow: auto;
}

body {
  background: #f5f5f5;
}

.mbS {
  margin-bottom: 16px;
}

.mbXS {
  margin-bottom: 8px;
}

