.left {
  border-left: 8px solid red;
}

mat-card {
  margin-bottom: 8px;
}

mat-card.left > mat-card-content {
  padding-left: 8px;
}

mat-card-content {
  display: flex;
  flex-direction: column;
}
