<div class="container-fluid">
  <div class="row">
    <div class="col text-center">
      <div id="video-wrapper">
        <video #remoteVideo id="remote-video" poster="./assets/video-placeholder.jpg" autoplay playsinline></video>
        <video *ngIf="showLocalVideo" #localVideo id="local-video" autoplay playsinline [muted]=true></video>
      </div>
    </div>
  </div>
  <div class="row p-2">
    <button mat-raised-button color="primary" class="m-2" [disabled]="isCallStarted$ | async" (click)="showModal(false)">Запустить стрим</button>
    <button mat-raised-button class="m-2" [disabled]="isCallStarted$ | async" (click)="showModal(true)">Присоединиться к звонку</button>
    <button mat-raised-button color="warn" class="m-2" [disabled]="!(isCallStarted$ | async)" (click)="endCall()">Отключиться</button>
  </div>
</div>
